@charset "utf-8"
@require "./basic"

.el-submenu [class^=fa] 
  vertical-align middle
  margin-right 5px
  width 24px
  text-align center
  font-size 18px

.bk-container
  height 100vh
  .bk-sidebar
    float left
    width  200px 
    height 100%
    box-sizing border-box
    overflow-y auto
    overflow-x hidden
    background #2f4050
    animation all 0.3s
    &::-webkit-scrollbar
      width 6px
      bakground-color #F5F5F5
    &::-webkit-scrollbar-thumb
      border-radius 3px
      background-color #999
    &::-webkit-scrollbar-track
      background-color #555
    &::-webkit-scrollbar-corner
      display none
    &.toggle
      width 64px
    .el-menu
      border-right 0px
  .bk-content
    display flex
    height 100%
    flex-direction column
    overflow hidden
    background-color #f3f3f4
    .header
      box-sizing border-box
      background #fff
      flex 0 0 60px
      display flex 
      align-items center
      .avatar
        width 46px
        height 46px
        border-radius 23px
        &:hover
          cursor pointer
    .box-wrap
      position relative
      flex 1
      .box
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        overflow auto
        box-sizing border-box
        padding 15px 15px
        .ibox
          background-color #fff
          box-sizing border-box
          .ibox-title
            border-top 4px solid #e7eaec
            padding 15px 15px
            font-size 18px
            font-weight bold
          .ibox-content
            border-top 1px solid #e7eaec
            padding 15px 15px

.preview-toolbar
  height 58px
  border 1px solid #ddd
  display flex
  padding-left 15px
  align-items center
.preview-container
  height 200px
  border 1px solid #ddd
  border-top 0px
  overflow hidden
  position relative
  .preview-content
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    padding 15px 15px
    overflow auto
    line-height: 1.42
    p
      margin 0 auto !important
      padding 0 auto !important
      font-size 13px !important